@import url("/utils/fonts.css");
@import "tailwindcss";

* {
    font-family: "Quicksand";
}

.noprint {
    @apply !hidden;
}

.onlyprint {
    display: block;
}

html, body {
    overscroll-behavior: none;
}

a {
    @apply underline;
}

header {
    @apply w-full flex flex-col justify-end px-7;

    h1 {
        @apply text-4xl pt-6;
    }

    p {
        @apply text-xl mt-1;
    }

    hr {
        @apply border-t-[1px] border-0 mt-4;
    }
}

aside {
    @apply hidden;
}

body > div:first-of-type {
    @apply block h-fit;
}

main {
    @apply overflow-auto px-7;

    * {
        @apply my-1 text-sm;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-2xl;
    }

    code {
        @apply px-1 bg-zinc-300 rounded-sm;
    }

    p {
        @apply mt-2;
    }

    b {
        @apply font-bold;
    }

    ul {
        @apply list-inside;
    }

    ol {
        @apply list-decimal list-inside;
    }

    section {
        @apply pt-2 pb-1;
    }
/* 
    section:not(:first-of-type) {
        @apply break-before-page clear-both;
    } */

    div.pics-carousel {
        @apply grid gap-x-4 mt-2 mx-auto justify-items-center;

        p {
            @apply text-sm;
        }

        h3 {
            @apply text-lg;
        }
    }

    figure {
        @apply content-center;

        img {
            @apply object-contain;
        }
        
        figcaption {
            @apply text-center text-sm text-gray-600;
        }
    }

    table {
        @apply table-auto max-w-6xl mx-auto my-3 text-center;

        tr:first-of-type {
            @apply bg-gray-200 font-bold;
        }

        td {
            @apply px-4 py-2;
        }
    }
}