@import url("/utils/fonts.css");
@import "tailwindcss";

* {
    font-family: "Quicksand";
}

html, body {
    overscroll-behavior: none;
}

header {
    @apply fixed top-0 w-full h-[11vh] flex flex-col justify-end px-6;

    h1 {
        @apply text-4xl md:text-5xl truncate;
        font-size: clamp(2.5rem, 1vw + 1.9rem, 3rem);
    }

    p {
        @apply text-2xl;
    }

    hr {
        @apply hidden;
    }
}

body > div:first-of-type {
    @apply fixed bottom-0 w-full h-[89vh] flex flex-row;
}

aside > nav > a {
    @apply block text-gray-700 hover:text-blue-600;
}

main {
    @apply overflow-auto px-6;

    * {
        @apply my-1;
    }

    h1 {
        @apply text-2xl;
    }

    h2 {
        @apply text-2xl;
    }

    h1, h2{
        @apply sticky top-0 bg-white pt-4 scroll-mt-2;
    }

    code {
        @apply px-1 bg-zinc-300 rounded-sm;
    }

    b {
        @apply font-semibold;
    }

    ol {
        @apply list-decimal list-inside;
    }
}